@{
    Layout = null;
}
@model QueryModel.CustomList
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>客人列表</title>
    <link rel="stylesheet" href="../../wwwroot/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../wwwroot/neoui/css/neoui.css">
    <link rel="stylesheet" href="../../wwwroot/neoui/css/navbar.css">
    <link rel="stylesheet" href="../../wwwroot/neoui/css/utils.css">
    <style>
        body {
            padding-bottom: 50px;
        }

        .nav-tabs li {
            width: 33.33%
        }

            .nav-tabs li a {
                border-radius: 0;
                border-top: 0;
            }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:focus,
        .nav-tabs > li.active > a:hover {
            border-top: 0;
        }

        .nav-tabs > li:first-child.active > a,
        .nav-tabs > li:first-child.active > a:focus,
        .nav-tabs > li:first-child.active > a:hover {
            border-left: 0;
        }

        .nav-tabs > li:last-child.active > a,
        .nav-tabs > li:last-child.active > a:focus,
        .nav-tabs > li:last-child.active > a:hover {
            border-right: 0;
        }

        .list-group-item {
            border: 0;
        }

        .panel-body {
            text-align: center;
        }

        .label {
            margin-bottom: 6px;
            padding: 8px 12px;
            display: inline-block
        }

        .table {
            margin-top: 1rem
        }

        .tab-pane {
            margin-top: 1rem;
        }

        .table {
            border: 1px solid #c3c3c3;
        }

            .table thead {
                background-color: rgba(53, 143, 209, 0.18);
            }

                .table thead th {
                    text-align: center;
                }

            .table td,
            .table th {
                border: 1px solid #c5c5c5;
            }
            .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
                padding:8px 6px;
            }
    </style>
</head>

<body>
    <div class="">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">当前在住</a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">今日预订</a>
            </li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">今日已离</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- 当前在住tab -->
            <div role="tabpanel" class="tab-pane active" id="home">
                <!-- 房间数面板 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        房间数：
                        <span class="livingAm">@Model.NowLiving.TotalGuests[0].Rooms</span>
                        <span class="livingPt" style="margin-left:7%">入住率:<b></b></span>
                        <span class="avgPr" style="float:right">平均房价:<b></b>元</span>
                    </div>
                    <div class="panel-body">
                        房价合计：
                        <span class="totalHam">@Model.NowLiving.TotalGuests[0].Amounts</span> 元
                    </div>
                </div>
                <!-- 在住信息列表 -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>房号</th>
                            <th>姓名</th>
                            <th>类型</th>
                            <th>房价</th>
                            <th>到离日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var guest in Model.NowLiving.GuestLists)
                        {
                            <tr>
                                <th>@guest.s_room_no</th>
                                <td>@guest.vc_name</td>
                                <td>@guest.gtype</td>
                                <td>@guest.n_fact_rate</td>
                                <td>@guest.d_arrive_date.Value.ToString("MM-dd")/@guest.d_arrive_date.Value.ToString("MM-dd")</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- 今日预订tab -->
            <div role="tabpanel" class="tab-pane" id="profile">
                <!-- 房间数面板 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        房间数：
                        <span>@Model.TodayReserve.TotalGuests[0].Rooms</span>
                        <span class="livingPt" style="margin-left:7%">入住率:<b></b></span>
                        <span class="avgPr" style="float:right">平均房价:<b></b>元</span>
                    </div>
                    <div class="panel-body">
                        房价合计：
                        <span>@Model.TodayReserve.TotalGuests[0].Amounts</span> 元
                    </div>
                </div>
                <!-- 在住信息列表 -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>房号</th>
                            <th>姓名</th>
                            <th>类型</th>
                            <th>房价</th>
                            <th>到离日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var gr in Model.TodayReserve.GuestLists)
                        {
                            <tr>
                                <th>@gr.s_room_no</th>
                                <td>@gr.vc_name</td>
                                <td>@gr.gtype</td>
                                <td>@gr.n_fact_rate</td>
                                <td>@gr.d_arrive_date.Value.ToString("MM-dd")/@gr.d_arrive_date.Value.ToString("MM-dd")</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- 今日已离tab -->
            <div role="tabpanel" class="tab-pane" id="messages">
                <!-- 房间数面板 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        房间数：
                        <span>@Model.TodayLeave.TotalGuests[0].Rooms</span>
                        <span class="livingPt" style="margin-left:7%">入住率:<b></b></span>
                        <span class="avgPr" style="float:right">平均房价:<b></b>元</span>
                    </div>
                    <div class="panel-body">
                        房价合计：
                        <span>@Model.TodayLeave.TotalGuests[0].Amounts</span> 元
                    </div>
                </div>
                <!-- 在住信息列表 -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>房号</th>
                            <th>姓名</th>
                            <th>类型</th>
                            <th>房价</th>
                            <th>到离日期</th>
                        </tr>
                    </thead>

                    <tbody>
                    @foreach (var g in Model.TodayLeave.GuestLists)
                    {
                        <tr>
                            <th>@g.s_room_no</th>
                            <td>@g.vc_name</td>
                            <td>@g.gtype</td>
                            <td>@g.n_fact_rate</td>
                            <td>@g.d_arrive_date.Value.ToString("MM-dd")/@g.d_arrive_date.Value.ToString("MM-dd")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@RenderPage("../Shared/_Footer.cshtml.cshtml")

<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../../wwwroot/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(function () {

        //设置当前页导航链接颜色为linkblue
        function setLinkBlue() {
            var $links = $('nav a');
            var title = $('title').text().trim();
            $links.removeClass('linkBlue');
            $links.each(function () {
                if ($(this).text().trim() === title)
                    $(this).addClass('linkBlue');
            });
        }
        setLinkBlue();

        var livingAm = $('#home .livingAm').text();//在住房间数
        var totalHouse = localStorage.useableHouse; //可用房间总数
        var totalHam = $('#home .totalHam').text();   //房价合计
        var $livingPt = $('#home .livingPt b');
        var $avgPr = $('#home .avgPr b');
        $livingPt.text((livingAm / totalHouse * 100).toFixed(2) + "%");
        $avgPr.text((totalHam / livingAm).toFixed(2));

    })
</script>
</body>

</html>